

.primary{
    color:cyan;
}

.primary-light{
    color:rgb(182, 235, 235);
}

.primary-dark{
    color: rgb(10, 151, 151);
}



*/  
color.  

primary
primary-light
primary-dark

secondary
secondary-light
secondary-dark

accent
accent-light
accent-dark

background primary
background secondary

info - blue
info - light
info - dark

success - green
success - light
success - dark

warning -orange
warning - light
warning - dark

danger - red
danger-light
danger - dark

inactive-graa
inactive - light
inactive - dark

*/ 