
.grid-container{
    height: 100vh;
    width: 100vh;
}

.domain-layout{
    display:grid;
    grid-template-rows: 10% 1fr auto;
    grid-template-column: 5% 1fr 20% 1fr 30% 1fr;
}


.side-navbar{
    grid-area: side-navbar/row 1 start/ column 1 start/ row 2 end/ column 4 end;  
}

.top-navbar{
    grid-area: top-navbar/row 2 start/ column 1 start/ row 3 end/ column 2 end;
}

.middle-grid{
    grid-area: mid-grid/row 2 start/ column 2 start/ row 3 end/ column 3 end;
}

.domain-mid-layout{
    display:grid;
    grid-template-rows: 20px 1fr 20px 1fr 20px 1fr 20 px 1fr auto;
    grid-template-column:20px 1fr 20px 1fr 20px 1fr 20px 1fr auto;
}

.button-1{
    grid-area: button-1/row 2 start/ column 2 start/ row 3 end/ column 3 end;
}

.button-2{
    grid-area: button-2/row 4 start/ column 2 start/ row 5 end/ column 3 end;
}

.button-3{
    grid-area: button-3/row 2 start/ column 4 start/ row 3 end/ column 5 end;
}

.button-4{
    grid-area: button-4/row 4 start/ column 4 start/ row 5 end/ column 5 end;
}