
.flex-middle-box{
    display: flex;
    align-self:center;
    justify-content: center;
    flex-wrap:wrap;
}

.headliner-h1{
    text-align:center;
    color: white;
}

.text-row{
    display:inline;
}

Middle-box-headline{
    display:flex;
    align-self:center;
}