.black{background-color:black;}
.lightgrey{background-color:lightgrey;}
.lightgrey-dark{background-color:rgb(134, 122, 122);}
.dark-grey{background-color:rgb(85, 82, 82);}
.grey{background-color:grey;}
.blue{background-color:blue;}
.red{background-color:red;}
.green{background-color:green;}
.greenyellow{background-color:greenyellow;}
.white{background-color:white;}