/*main*/
.flex-it-all{
    display:flex;
}

.flex-direction-row{
    display:flex;
    flex-direction:row;
}

.flex-direction-column{
    display:flex;
    flex-direction:column;
}

.flex-align-center{
    align-self:center;
}

/* main end */

/*Login */

.flex-loginbar{
    border:solid 1px black;
    height:30px;
    width:200px;
    margin-left:40px;
    justify-content:center;
    background-color:white;
    flex-wrap:nowrap;
}

.flex-password-bar{
    border:solid 1px black;
    height:30px;
    width:200px;
    margin-left:17px;
    justify-content:center;
    background-color:white;
    flex-wrap:nowrap;
}

.text-align{
    margin-left:30px;
}

.password-padding{
    padding-top:5px;
}

.login-button{
    justify-self:flex-end;
    margin-left:240px;
    margin-top:10px;
}

.login-headliner-center{
    display:flex;
    justify-content:center;
    margin-left:30%;
    margin-bottom: 30px;
    margin-top:10px;
}

.flex-dashboard-side-nav{
    display:flex;
    flex-direction: column;
    float:left 10%;
    max-width:10%;
    padding:10px;
}

.flex-dashboard-middle{
    display:flex;
    width:90%;
}

.flex-boxes{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
}

.flex-boxes2{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}

/*dashboard.html*/

.flex-box-top-size{
    display:flex;
    width:6em;
    height:7em;
    border:solid 1px black;
}

.flex-box-mid-size{
    display:flex;
    width:10em;
    height:10em;
    border:solid 1px black;
}

/*dashboard.html end*/

/*about.html*/

.flex-about-box-top{
    display:flex;
    width:40em;
    height:6em;
    margin-left:25%;
    margin-right:25%;
    border: solid 1px black;
}